/****** ACCORDIAN START *******/

*{padding: 0; margin: 0;box-sizing: border-box;}

.container-fluid{
   background:linear-gradient(45deg ,#010758 , #490d61);
   min-height: 100vh;
   padding: 0px 40px;
 }

.accordian-item{
    margin-bottom: 30px;
 }

.accordian-title{
    background-color: #ff2963;
    color: #ffffff;
    padding:10px 20px;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    font-size: 20px;
    font-weight: 600;
 }

.accordian-title i{
	position: absolute;
	right: 30px;
	font-size: 25px;
	transition: all 0.5s;
 }

.accordian-item.active i{
    transform: rotate(-180deg);
 }

.accordian-title:hover{
	background-color: #d91248;
 }

.accordian-content{
	background-color: #403d84;
    max-height: 0px;
    overflow:hidden;
	transition: all 0.5s;
	text-align: justify;
    color: #fff;
    transition: 1s linear;
    animation-name: accordian;
    animation-duration: 0.8s linear;
    animation-timing-function: linear;
 }

 .accordian-content p
 {
    padding: 20px 20px;
    text-align: justify;
 }

.accordian-item.active .accordian-content{
    max-height:150px;
 }

 @keyframes accordian{
   
 }

 /******* MEDIA QUERY ******/
 @media screen and (max-width: 768px){
.accordian-title{
    font-size: 16px;
}

.accordian-item.active .accordian-content{
    overflow: auto;
}

.accordian-content p{
    font-size: 14px;
 }

}